@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comforter&family=Estonia&family=Inconsolata:wght@500&display=swap");

.navbar {
  background-color: rgb(121, 10, 10);
  display: flex;
  justify-content: space-evenly;
}

.navbar a {
  color: white;
  padding: 24px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Architects Daughter";
}

.navbar a:hover {
  background-color: #ace0f9;
  color: black;
}
