@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Estonia&family=Inconsolata:wght@500&display=swap");

.big-title {
  text-align: center;
  font-family: Comforter;
  font-size: 45px;
  letter-spacing: 1rem;
}
